@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

header {
  position: relative;
}
header .header-top {
  background-color: #0273DD;
  display: flex;
  justify-content: end;
}
header .header-top span {
  margin: 0 10px;
}
header .header-bottom {
  background-color: white;
}
header .header-bottom .container-menu {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-bottom .headerLeft {
  height: 60px;
}
header .header-bottom .headerLeft #logo {
  height: 100%;
}
header .header-bottom .headerLeft #logo img {
  height: 100%;
}
header .header-bottom .headerRight {
  width: 920px;
}
header .header-bottom .headerRight nav {
  line-height: 80px;
}
header .header-bottom .headerRight nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
header .header-bottom .headerRight nav ul li a {
  color: black;
  font-size: 13px;
  font-weight: 800;
  text-decoration: none;
  margin: 0 10px;
  padding-bottom: 30px;
  text-transform: uppercase;
}
header .header-bottom .headerRight nav ul li a:hover {
  border-bottom: 4px solid #0273DD;
  color: #0273DD;
}
header .header-bottom .active {
  color: #0273DD !important;
  border-bottom: 4px solid #0273DD;
}
header .jumbotron {
  height: 320px;
  width: 100%;
  overflow: hidden;
}
header .jumbotron img {
  width: 100%;
}
header .button-top {
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  top: 393px;
  left: 198px;
  background-color: #0273DD;
}

footer {
  color: white;
  background-image: url(../images/footer-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
footer .button-f-top {
  width: 180px;
  margin-top: 35px;
  position: absolute;
  top: -106px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0273DD;
  color: white;
  text-transform: uppercase;
  padding: 10px 15px;
  border: none;
}
footer .footerTop {
  background-color: #0273DD;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .footerTop .footerTopContainer {
  display: flex;
  align-items: center;
}
footer .footerTop .footerTopContainer .imgContainer {
  width: 60px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
footer .footerTop .footerTopContainer .imgContainer img {
  height: 70%;
}
footer .footerTop .footerTopContainer .text {
  padding: 0 5px;
  text-transform: uppercase;
}

.footerCenter {
  height: 500px;
  width: 85%;
  margin: auto;
  background-image: url(../images/dc-logo-bg.png);
  background-position: right;
  background-repeat: no-repeat;
}

.container.center {
  height: 88%;
  display: flex;
  justify-content: flex-start;
}

.TextFCenter div,
h1 {
  text-transform: uppercase;
}

.TextFCenter div {
  padding: 2px 0;
  font-size: 12px;
}

.containerTextFooterC {
  margin: 20px 0 0 0;
  width: 400px;
  height: 77%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.textContainerF {
  width: 160px;
}

.TextFCenter {
  font-size: 15px;
  padding: 20px 0;
  color: gray;
}

.footerBottom {
  height: 100px;
  background-color: #333232;
  color: #0273DD;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.footerBottom .container.B {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
}
.footerBottom .container.B .left {
  height: 50px;
  width: 180px;
  font-size: 20px;
  text-transform: uppercase;
  border: 2px solid #0273DD;
  background-color: transparent;
  color: white;
}

.bottomRight {
  line-height: 100px;
  display: flex;
  align-items: center;
}

.bottomRight img {
  margin: 0 5px;
}

.icons {
  padding: 0 10px;
}

.blue {
  color: #0273DD;
}

.footerCenter .text-b-c {
  color: gray;
  font-size: 14px;
}

main {
  height: 606px;
  position: relative;
}

h1 {
  font-size: 20px;
}

.container {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1100px;
}

.comics {
  display: flex;
  justify-content: center;
}

.container.main {
  margin: 30px 0 0 0;
}

button {
  color: white;
  text-transform: uppercase;
  padding: 10px 15px;
  border: none;
}

.button-top {
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  top: 296px;
  left: 198px;
}

.button-bottom {
  width: 180px;
  margin-top: 35px;
}

.card {
  width: calc(16.6666666667% - 20px);
  margin: 20px 10px;
  height: 200px;
}
.card .containerImg {
  width: 100%;
  height: 170px;
  overflow: hidden;
}
.card .containerImg img {
  width: 100%;
}
.card .containerText {
  height: 30px;
  color: white;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: black;
  color: white;
}